
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header{
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
    max-width: 90%;;
    margin: 0 auto;
}
.dark-1{
    color: #131313;

}
.dark-2{
    color: #424242;

}
.dark-3{
    color: #727272

}
.btn-1{
    background-color: #FF900E;
    border: none;
    padding:20px 25px ;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.nav-title{
    font-size: 45px;
}
.nav-list{
    display: flex;
    gap: 40px;
    margin: 0 auto;
}
.nav-items{
    list-style: none;
   

}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    
}

.hero{
    width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
   
    
}
.hero-title{
    font-size: 4rem;
   
   text-align: center;
}

.banner-pic{
    width: 90%;
    margin: 0 auto;
   
}
.banner-pic img{
    width: 100%;
}

@media screen and (max-width:776px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title{
        text-align: center;
    }
    .hero{
        width: 100%;
    }
    .hero-title{
        font-size: 2.5rem;

    }
    .nav-list{
        gap: 20px;
    }
    .btn-1{
    background-color: #FF900E;
    border: none;
    padding:10px 15px ;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
    
}

@media screen and (min-width:776px) and (max-width:992px) {
   
    
}